body {
    font-family:sans-serif;
    background-color: lightgrey;
    height: 100%; 
}

.header {
    background-color: grey;
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 10px;
}

.header .titre-header {
    text-align: center;
    font-size: 50px;
}

.main{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: calc(100vh - 40px);
    overflow: hidden;
}

.colonne-recherche {
    flex: 1;
    margin-right: 10px;
    background-color: #e0e0e0;
    padding: 10px;
    box-sizing: border-box;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 3px
}

.colle{
    position: sticky;
    top: 0;
}

.resultats{
    flex: 6;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    height:100%;
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
    margin-bottom: 10px;
}

.column {
    text-align: center;
    padding: 10px;
}
